<div class="no-questions">
  <img src="/images/icon-noquestions.svg">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Faça sua primeira pergunta e envie o <br>código da Sala para mais pessoas poderem interagir!</p>
</div>
